@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr; 
    grid-template-areas:
    "header header"
    "sidebar main-content";
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    grid-area: header;
    padding-left: 64px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    font-family: 'Fuzzy Bubbles', sans-serif;
    background-color: #14b8a6;
    color: white;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    background-color: #ccfbf1;
    height: 100vh;
    width: 236px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    padding-left: 64px;
}

.add-task-btn {
    font-size: 38px;
    color: white;
    background-color: #14b8a6;;
    height: 50px;
    width: 50px;
    border: thin solid darkgray;
    cursor: pointer;
    border-radius: 5px;
}

.sidebar ul {
    list-style: none;
    margin-top: 16px;
    font-size: 20px;
    font-family: 'Alata', sans-serif;
}

.input-modal {
    position: absolute;
    left: 0;
    right: 0;
    width: 200px;
    margin: auto;
    padding: 8px;
}

.input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px;
}

.content-container {
    display: flex;
}

.main-content-container {
    grid-area: main-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    flex: 1;
}

.todo-container {
    margin: 16px;
    background-color: #f0fdfa;
    width: 1000px;
    display: flex;
    justify-content: space-around;
    box-shadow: 2px 2px 4px 4px rgb(172, 171, 171);
}

#add-project-form,
.show-form-btn {
    margin-top: 32px;
}


#add-project-form {
    display: none;
}

.show-form-btn {
    background-color: #14b8a6;
    color: white;
    font-family: 'Alata', sans-serif;;
    font-size: 18px;
    height: 50px;
    width: 125px;
    display: block;
}

.remove-btn {
    background-color: #f0fdfa;
    border: 0px;
    width: 25px;
    font-size: 16px;
    font-weight: bold;  
    cursor: pointer;

}

.active-project h4{
    border-bottom: 1px solid black;
}


.project-element {
    display: flex;
    justify-content: space-between;
}

.project-element h4 {
    font-weight: 500;
    cursor: pointer;
}

.project-remove-btn {
    width: 25px;
    border: 0px;
    background-color: #ccfbf1;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}